.root, .root * {
    /*-fx-focus-traversable: false ;*/
}

.label {
    -fx-text-fill: #ffffff;
}

.button, .choice-box > .label {
    -fx-text-fill: #000000;
}

#menus {
    -fx-border-width: 5;
    -fx-border-color: #7171C2;
    -fx-border-style: solid;
    -fx-background-color: #2f2f50;
}

#commonToolBar, #buildToolBar1, #buildToolBar2, #runToolBar{
    -fx-background-color: #2f2f50;
    -fx-spacing: 3em;
    /*-fx-border-width: 5;*/
    /*-fx-border-color: #7171C2;*/
    /*-fx-border-style: solid;*/
}

#buildToolBar1, #buildToolBar2, #runToolBar {
    -fx-alignment: center;
}

#fillerBar{
    -fx-border-width: 2.5;
    -fx-border-color: #7171C2;
    -fx-border-style: solid;
    -fx-background-color: #7171C2;
}
